.container {
    height: 100%;
    display: grid;
    place-items: center;

    .unauthorized-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        i {
            font-size: 3rem;
        }

        h1, p {
            margin: 0;
        }

        p {
            text-align: center;
        }

        a {
            text-decoration: none;
        }

    }
}