<nav class="sidebar">
  <ul>
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/payment-orders"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Orders</a
      >
    </li>
    <li>
      <a
        routerLink="/users"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Users</a
      >
    </li>
  </ul>
</nav>
