.statistics-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 50px;

    .transaction-chart {
        grid-column: 1 / 3;
    }

    .users-chart {
        grid-column: 3 / 5;
    }

    .payment-chart {
        grid-column: 2 / 4;
    }
}